<?xml version="1.0"?>
<launch>

    <include file="$(find omega_haptic_device)/launch/omega_force_controller.launch">
        <arg name="realtime" value="false"/>
    </include>

    <include file="$(find toroboarm_bringup)/launch/bringup_sim_desk.launch">
        <arg name="model" default="toroboarm_ft_sim_peg"/>
    </include>


    <include file="$(find ohrc_teleoperation)/launch/omega_teleoperation.launch">
        <arg name="robot" value="toroboarm"/>
        <arg name="controller" value="vel"/>
    </include>

</launch>
